:root {
  --select-border: gray;
  --select-focus: #9f1c27;
  --select-arrow: var(--select-border);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

* body {
  font-family: "Poppins", sans-serif;
}

* body a {
  font-size: 1rem;
  color: #9f1c27;
}

* body a:hover {
  color: #13133e;
}

* body h1 {
  font-size: 2.2rem;
  margin-bottom: 0.5rem;
}

* body h3 {
  font-size: 1.1rem;
  font-weight: bold;
}

* body h6 {
  font-size: 1rem;
}

* body select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  z-index: 1;
  outline: none;
}

* body select::-ms-expand {
  display: none;
}

* body .select {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "select";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  max-width: 300px;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  margin: auto auto;
  padding: 0.4em 0.8em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #f1f1f1;
}

* body .select select, * body .select::after {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: select;
}

* body .select:not(.select--multiple)::after {
  content: "";
  -ms-grid-column-align: end;
      justify-self: end;
  width: 0.8em;
  height: 0.5em;
  background-color: var(--select-arrow);
  -webkit-clip-path: polygon(100% 0%, 0 0%, 50% 100%);
          clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

* body select:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 2px solid var(--select-focus);
  border-radius: inherit;
}

* body .container {
  max-width: 65rem;
  margin: 5rem auto;
  text-align: center;
}

* body .container .main-title {
  margin-bottom: 1.5rem;
}

* body .container .main-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: solid 2px gray;
  background-color: #f1f1f1;
  max-width: 100%;
}

* body .container .main-tab .tab {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 1.2rem;
}

* body .container .main-tab .tab:hover {
  background-color: #ddd;
}

* body .container .main-tab .tab.active {
  background-color: #13133e;
  color: white;
  font-weight: bold;
}

* body .container .main-content-wrapper {
  border: solid 2px gray;
  border-top: none;
  padding: 2%;
  min-height: 81.25em;
}

* body .container .main-content-wrapper .main-content {
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

* body .container .main-content-wrapper .main-content .content-title, * body .container .main-content-wrapper .main-content #content-title-choose {
  width: 100%;
  margin-bottom: 1.5rem;
}

* body .container .main-content-wrapper .main-content .test {
  width: 100%;
}

* body .container .main-content-wrapper .main-content .option {
  width: 37.5%;
  margin-bottom: 1rem;
}

* body .container .main-content-wrapper .main-content .option img {
  max-height: 5rem;
  vertical-align: middle;
}

* body .container .main-content-wrapper .main-content .turn {
  width: 23%;
}

* body .container .main-content-wrapper .main-content .turn img {
  max-height: 5rem;
  vertical-align: middle;
}

* body .container .main-content-wrapper .main-content .choose {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

* body .container .main-content-wrapper .main-content .choose .matchmaker, * body .container .main-content-wrapper .main-content .choose .matchmaker2 {
  width: 25%;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  background-color: #f1f1f1;
  border-radius: 0.5rem;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

* body .container .main-content-wrapper .main-content .choose .matchmaker:hover, * body .container .main-content-wrapper .main-content .choose .matchmaker2:hover {
  background-color: #ddd;
}

* body .container .main-content-wrapper .main-content .logo {
  width: 37.5%;
  margin-bottom: 1rem;
}

* body .container .main-content-wrapper .main-content .logo img {
  max-height: 5rem;
  vertical-align: middle;
}

* body .container .main-content-wrapper .main-content .battle-logo {
  width: 20%;
}

* body .container .main-content-wrapper .main-content .battle-logo img {
  max-height: 5rem;
  vertical-align: middle;
}

* body .container .main-content-wrapper .main-content .stats-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

* body .container .main-content-wrapper .main-content .stats-wrapper .content-stats {
  width: 40%;
  padding: 2.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: solid 1px #ccc;
  border-radius: 1rem;
  gap: 1.2rem;
}

* body .container .main-content-wrapper .main-content .stats-wrapper .content-stats .stats-desc {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 52px;
}

* body .container .main-content-wrapper .main-content .stats-wrapper .content-stats .stats-desc .stats-icon {
  width: 30%;
  position: relative;
}

* body .container .main-content-wrapper .main-content .stats-wrapper .content-stats .stats-desc .stats-icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-height: 3rem;
}

* body .container .main-content-wrapper .main-content .stats-wrapper .content-stats .stats-desc .stats-num {
  width: 70%;
  display: table;
}

* body .container .main-content-wrapper .main-content .stats-wrapper .content-stats .stats-desc .stats-num h3 {
  margin: 10px;
  display: table-cell;
  vertical-align: middle;
}

* body .container .main-content-wrapper .main-content .stats-wrapper .content-stats .stats-desc .stats-num h3 .span-icon {
  max-height: 2rem;
  vertical-align: middle;
}

* body .container .main-content-wrapper .main-content .content-rules {
  width: 100%;
  margin: 2rem 0;
  padding: 2.5%;
  border: solid 1px #ccc;
  border-radius: 1rem;
}

* body .container .main-content-wrapper .main-content .content-rules h3 {
  margin-bottom: 0.75rem;
}

* body .container .main-content-wrapper .main-content .content-rules h6, * body .container .main-content-wrapper .main-content .content-rules li {
  text-align: left;
}

* body .container .main-content-wrapper .main-content .content-rules h6 img, * body .container .main-content-wrapper .main-content .content-rules li img {
  max-height: 1.2rem;
  vertical-align: middle;
}

* body .container .main-content-wrapper .main-content .content-button {
  width: 100%;
  text-align: center;
  margin: 0 0 1.2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* body .container .main-content-wrapper .main-content .content-button div {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

* body .container .main-content-wrapper .main-content .content-button div input {
  width: 40%;
  padding: 1.5% 3%;
  border: solid 1px #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
  color: #646464;
}

* body .container .main-content-wrapper .main-content .content-button div .input-warning {
  margin-bottom: 10px;
  color: red;
}

* body .container .main-content-wrapper .main-content .content-button div .fight, * body .container .main-content-wrapper .main-content .content-button div .round {
  width: 40%;
  display: inline-block;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  background-color: #f1f1f1;
  border-radius: 0.5rem;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

* body .container .main-content-wrapper .main-content .content-button div .fight:hover, * body .container .main-content-wrapper .main-content .content-button div .round:hover {
  background-color: #ddd;
}

* body .container .main-content-wrapper .main-content .content-result {
  width: 100%;
  text-align: center;
  margin: 0.3rem;
  padding: 2.5%;
  font-size: 1rem;
  border: solid 1px #ccc;
  border-radius: 1rem;
  min-height: 25.5rem;
}

* body .container .main-content-wrapper .main-content .content-result img {
  height: 14px;
}

* body .container .main-content-wrapper .main-content .content-result .content-log {
  height: 86%;
}

* body .container .main-content-wrapper .main-content .content-result .content-log .log-title {
  margin-bottom: 1rem;
}

* body .container .main-content-wrapper .main-content .content-result .content-log .log-battle {
  font-family: 'Fira Code', monospace;
  padding: 2.5%;
  border: solid 1px #ccc;
  height: 16.5em;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: left;
}

* body .container footer {
  margin-top: 1rem;
  bottom: 0;
}
/*# sourceMappingURL=style.css.map */